body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  margin-top: 50px;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #EAF6F6;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
p {
  line-height: 2;
}
.btn {
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   color: #EAF6F6;
   font-family: Verdana;
   width: 139px;
   font-family: "Montserrat",sans-serif;
   font-size: 20px;
   font-weight: 400;
   height: 0;
   line-height: 0;
   margin: 50px auto 50px auto;
   padding: 20px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.btn:hover {
  background-color: #75CFB8;
  font-size: 16px;
}
.top-container {
  background-color: #ccf2f4;
  padding-top: 100px;
  position: relative;
}
.middle-container {
  margin: auto;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.avatar {
  border-radius: 50%;
  width: 20%;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.electronics-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.footer-link {
  color: #11999E;
  padding: 20px;
}
.copyright-message {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  position: relative;
  text-align: left;
  line-height: 2;
}
.Profession {
  font-weight: normal;
}
.intro {
  margin: auto;
  line-height: 2;
  width: 30%;
}
